<%- include('partials/header.ejs') %>

<h1> Home </h1>
<p> <%= homeStartingContent %></p>

<% posts.forEach(function (post) { %>
  <div class="blog-post">
    <h1> <%= post.title %> </h1>
    <p> <%= post.content.substring(0, 120) + "..." %> <a href="/posts/<%= post.title %>">Read More</a> </p>
    
    <!-- Delete button -->
    <form action="/delete" method="POST" style="display: inline;">
      <input type="hidden" name="postId" value="<%= post.id %>">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    
    <!-- Update button -->
    <a href="/update/<%= post.title %>" class="btn btn-primary">Update</a>
  </div>
<% }) %>

<%- include('partials/footer.ejs') %>
